.hf_cache
.milvus
__pycache__
.venv
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
run.yaml
run-img.yaml
run.yaml.orig
*.old
scratch
test_results.json
evaluation_results
.DS_Store
.env
*_log.txt
test.py
old